* {
  box-sizing: border-box;
}

.polaroid {
  background-color: white;
  position: absolute;
  border: 0.2px solid rgb(220, 220, 220, 0.5);
  box-shadow: 5px 5px rgb(220, 220, 220);
  transform: rotate(-3deg);
  border-radius: 2px;
}

.picture {
  max-width: 600px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.caption {
  padding: 1rem;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 1.45em;
  color: darkgrey;
}
